<html lang="en">
<head>
	<title> Cheng Peng's Website </title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<meta content="text/html; charset=utf-8" http-equiv="content-type">
	<meta name="author" content="Cheng Peng">
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<meta name="description" content="Developer, Computer Science Student at University of Waterloo">
	<link rel="shortcut icon" href="img/favicon.ico">
	<link href="css/bootstrap/bootstrap.min.css" rel="stylesheet"/>
	<link href="css/style.css" rel="stylesheet"/>
	<link href="css/flexslider.css" rel="stylesheet"/>
	<link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
	<link href="http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic" rel="stylesheet" type="text/css">
	<style type="text/css"></style>
</head>

<body data-spy="scroll" data-target="#main-nav" >
	<div id="backgrounds" data-backgrounds="img/background1.jpg,img/background2.jpg,img/background3.jpg"> </div>
	<div id="color-overlay"></div>
	<!-- HEADER -->

	<div id="main-nav" class="navbar navbar-fixed-top">
		<div class="container">
			
			<div class="navbar-header"> 
				<a href="#home" class="navbar-brand scrollto"> Cheng Peng </a>
			
				<button class="navbar-toggle" data-toggle="collapse" data-target = "#site-nav">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
			</div>

			<div id="site-nav" class="collapse navbar-collapse" style="height: 1px;">
				<ul class="nav navbar-nav navbar-right">
					<li class=""><a href="body#home" class="scrollto"> Home </a></li>
					<li><a href="body#about" class="scrollto"> About Me </a></li>
					<li><a href="body#portfolio" class="scrollto"> Projects </a></li>
					<li><a href="body#contact" class="scrollto"> Contact </a></li>					
				</ul>
			</div>
		</div>
	</div>
	<!--
	
	2. Home
	3. About Me
	4. Portfolio
	5. Contact

		-->

	<!-- Home -->
	<section id="home" class="jumbotron" >
		<div class="container scale-in in">

			<img class="img-responsive img-center header-logo" src="img/uw.png">
			<div class="message-box clearfix">
				<div class="first-line">
					<p> Welcome to my site! </p>
				</div>
				<div class="second-line flexslider home-slider">
					<div class="flex-viewport" style="overflow: hidden; position: relative; height: 40px;">
						<ul class="slides" style="height: 800%; position: absolute; width: 100%; -webkit-transition: 0.5s; transition: 0.5s; -webkit-transform: translate3d(0px, -150px, 0px);">
							<li class="clone" aria-hidden="true" style="display: block;">
								<p> Learner </p>
							</li>
							<li style="display: block;">
								<p> Developer </p>
							</li>		
							<li class="flex-active-slide" style="display: block;">
								<p> Learner </p>
							</li>
							<li class="clone" aria-hidden="true" style="display: block;">
								<p> Programmer </p>
							</li>
						</ul>
					</div>
				</div>
			</div>

		</div>
	</section>

	<!-- About Me -->
	<section id="about" class="padding-bottom bg-light">
		<div class="container">
				
			<div class="section-header scrollimation fade-up in">
			
				<h1 class="section-title">About Me</h1>
				
				<p class="section-description lead" > I am currently pursuing a Bachelor of Computer Science Degree at The University of Waterloo. <br> I love Hackathons! I always look forward to coding with a team full of passion and creativity.  <br> </p>
				
			</div><!--End section-header -->
			
			<div class="scrollimation fade-up in" >			
				<div class="col-sm-4  scrollimation fade-right in">
					<img class="img-responsive img-circle img-center" src="img/face.png" style="margin-top: 80px;">
				</div>		
				<div class="col-sm-8 description text-center scrollimation fade-in d1 in">
					
					<div class="myname">
						<h2>Cheng Peng</h2>
						<p> Developer &amp; Team Player </p>
					</div>
					
						<div class="details">
							<p> I am an ethusiast and constant learner. My interest in various areas of software developement has given me a wide exposure to stack development, design patterns, different languages and algorithmic optimization. I strive to become a full-fledged developer with a solid understanding in software development. </p>
							<p> Here are my 
								<a href="#portfolio" class="scrollto"> projects</a> and 
								<a href="resume.pdf" target="_blank"> resume</a>. 
							<p>
							<a href="#contact" class="scrollto"> Get in touch! </a>
						</div>
				</div>
				
			</div><!--End row -->
			
		</div><!--End container -->
		
	</section>
	
	<!-- Filler Section -->
	<section class="bg-transparent">
	</section>
	
	<section id="portfolio">
		<div class="bg-light">
			<div class ="container">
				<div class="section-header scrollimation fade-up in">
					<h1 class="section-title"> Projects</h1>
					<p class="section-description lead"> Here are projects that I have worked on. </p>
				</div>

				<div id="filter-works" class="scrollimation fade-in">
					<ul data-filter="category">
						<li class="active">
							<a href="#" data-category="*">All Categories</a>
						</li>
						<li>
							<a href="#" data-category=".web-design">Web</a>
						</li>
						<li>
							<a href="#" data-category=".mobile">Mobile</a>
						</li>
					</ul>
					<ul data-filter="type" id="preview-scroll" >
						<li class="active">
							<a href="#" data-type="*">All Types</a>
						</li>
						<li>
							<a href="#" data-type=".image">Image</a>
						</li>
						<li>
							<a href="#" data-type=".video">Video</a>
						</li>
					</ul>			
				</div>
			</div>
		</div>
			
		<!-- Project Previews -->

		<div id="preview-loader"></div>

		<div id="project-preview-wrapper">
			<div id="project-preview">
				<div class="container">
				
					<div class="preview-header">
						<h1 class="preview-title"></h1><span class="close-preview"><i class="fa fa-times"></i></span>
					</div>
				
					<div class="row">
					
						<div id="preview-media" class="col-md-8"></div>
						
						<div id="preview-details" class="col-md-4">
							<h2>Project Details</h2>
							<ul></ul>
						</div>
						
					</div>
					
					<div id="preview-content" class="row"></div>
				
				</div><!--End container -->
				
			</div><!--End #project-preview panel-->
		</div>
		<div class="padding-bottom bg-light">
			<div class="container masonry-wrapper">
				<div id="projects-container" class= "masonry">
					<article class="project-item web-design image y2014 masonry-brick" style="position: absolute; top: 0px; left: 0px;">
						<a href="#">
							<img class="img-responsive project-thumb" src="img/twp.png" alt="">
							
							<div class="details">
								<h3 class="project-title">Twilio Plays 2048</h3>
								<small>Web</small>
							</div>
						</a>
						<div class="sr-only">
							<div class="project-media" data-images="img/twp.png"></div>
							<div class="project-attributes">
								<div class="newline"><span>Date : </span> September 21, 2014 </div>
								<div class="newline"><span>Creation : </span> Hack the North </div>
								<div class="newline"><span>Categories : </span>Web App</div>
								<div class="newline"><span>Website : </span> <a href="http://twilio-plays-2048.herokuapp.com/" target="_blank"> twilio-plays-2048.herokuapp.com </a> </div>
							</div>
						
							<div class="project-description">
							
								<div class="col-md-4">
									<h2>The Challenge</h2>
									<p> At the biggest Hackathon in Canada, we had 36 hours to develop an app that will stand out among 1000 hackers. After some brainstorming, our team decided to create a spinoff of the game 2048, with a twist. It was going to be based on the multiplayer game "Twitch Plays Pokemon", but through the use of SMS commands. The goal was to allow offline players over the world to play together and enjoy the cooperative challenge with a cell phone's SMS. </p>
								</div>
								
								<div class="col-md-4">
									<h2>The Solution</h2>
									<p> Using the open source code from the creators of 2048, most of our hack would be back-end code that managed the SMS and the filtering of its data. Using Twilio's REST API, the back-end could start recieving GET requests upon SMS. Then, Node.js powerful frameworks like Express or Socket.io, would accept the requests and filter them to prevent spam and change the game state.  </p>
								</div>
								
								<div class="col-md-4">
									<h2>The Result</h2>
									<p> After a tough 2-day marathon, Twilio Plays 2048 was finished, with pride. In fact, our team won the 1st place api prize for the Best Use Of Twilio! <br>
										Next steps: Hook up a database to keep the game state when restarting the server. 
													Give MMS feedback so game will feel real! </p>
								</div>
								
							</div>
						</div>
						
					</article> 
					<article class="project-item web-design image y2013 masonry-brick" style="position: absolute; top: 0px; left: 370px;">
						
						<a href="#">
							<img class="img-responsive project-thumb" src="img/podgenius.png" alt="">
							
							<div class="details">
								<h3 class="project-title">PodGenius</h3>
								<small>Web</small>
							</div>
						</a>
						<div class="sr-only">
							<div class="project-media" data-images="img/podgenius.png"></div>
							<div class="project-attributes">
								<div class="newline"><span>Date : </span>December 24, 2013</div>
								<div class="newline"><span>Creation : </span> Facebook Hackathon </div>
								<div class="newline"><span>Categories : </span>Web App</div>
								<div class="newline"><span>Website : </span> <a href="https://github.com/chunky123/" target="_blank">  None - Updating </a> </div>
							</div>
						
							<div class="project-description">
							
								<div class="col-md-4">
									<h2>The Challenge</h2>
									<p> With 24 hours on the clock, my team needed to create a podcatcher web app that could search, subscribe and listen to podcasts. The goal was to allow users to login via Facebook and keep their podcast subscriptions for another day. </p>
								</div>
								
								<div class="col-md-4">
									<h2>The Solution</h2>
									<p> Using the itunes API for searching podcasts, and the popular language PHP, we could provide podcast channels. Populating the SQL database, each user had their podcast channels saved for next time. Creating a playlist, user could save podcasts and listen to them in any order. With a bit of extra time, we created a podcast player to allow seeking and volume control. </p>
								</div>
								
								<div class="col-md-4">
									<h2>The Result</h2>
									<p> After a tough 24 hour marathon, the PodGenius web app was a success. <br>
										Next steps: Add the ability to filter using genres or categories, use a more efficient algorithmn to search itunes, and pre-buffer each podcast for performance. </p>
								</div>
								
							</div>
						</div>
						
					</article> 
					<article class="project-item web-design video y2014 masonry-brick" style="position: absolute; top: 0px; left: 0px;">
						
						<a href="#">
							<img class="img-responsive project-thumb" src="img/CA.png" alt="">
							
							<div class="details">
								<h3 class="project-title">Canadian Abroad</h3>
								<small>Web</small>
							</div>
						</a>
						<div class="sr-only">
							<div class="project-media" data-video="<iframe width=&quot;640&quot; height=&quot;360&quot; src=&quot;http://www.youtube.com/embed/m8rgUi0yMZU&quot; frameborder=&quot;0&quot; allowfullscreen></iframe>"></div>
							<div class="project-attributes">
								<div class="newline"><span>Date : </span>March 03, 2014</div>
								<div class="newline"><span>Creation : </span> CODE Hackathon </div>
								<div class="newline"><span>Categories : </span>Web App</div>
								<div class="newline"><span>Website : </span> <a href="http://Canadian-abroad.herokuapp.com" target="_blank">www.Canadian-abroad.herokuapp.com</a> </div>

							</div>
						
							<div class="project-description">
							
								<div class="col-md-4">
									<h2>The Challenge</h2>
									<p> Competing with Canadians coast to coast, this 2-day hackathon required us to use given federal government data (www.data.gc.ca). The theme was to solve problems and increase productivity through the use of open data. After careful consideration of the theme, my team decided to develop Canadian-abroad, a web app that allowed Canadians to check travel advisories for each country, and how to get to the nearest embassy. </p>
								</div>
								
								<div class="col-md-4">
									<h2>The Solution</h2>
									<p> There were two sets of data available: travel advisory and and foreign embassy. Both were in JSON. For a good UI experience, we used an interactive map that had features like zooming, colouring and toggling. To allow the user to filter different countries, we used elastic search that also updated the map status. Languages we used included JavaScript, Jquery, and Node.js. </p>
								</div>
								
								<div class="col-md-4">
									<h2>The Result</h2>
									<p> The 48-hour hackathon was a long one, and in adding feature after feature, Canadian Abroad was essentially completed. <br>
										Next steps: Develop a better looking UI, show multiple embassies at once and mark them, notify the user if the the user's current residing country is dangerous. </p>
								</div>
								
							</div>
						</div>
						
					</article>
					
					<article class="project-item mobile image y2014 masonry-brick" style="position: absolute; top: 0px; left: 0px;">
						
						<a href="#">
							<img class="img-responsive project-thumb" src="img/gameboy.png">
							
							<div class="details">
								<h3 class="project-title">Wifi Remote</h3>
								<small>Mobile</small>
							</div>
						</a>
						<div class="sr-only">
							<div class="project-media" data-images="img/gameboy.png,img/arrowkeys.png"></div>
							<div class="project-attributes">
								<div class="newline"><span>Date : </span>Febuary 16, 2014</div>
								<div class="newline"><span>Creation : </span> PennApps Hackathon </div>
								<div class="newline"><span>Categories : </span>Android App</div>
								<div class="newline"><span>Website : </span> <a href="https://github.com/chunky123/PennApps" target="_blank">Github/PennApps</a> </div>

							</div>
						
							<div class="project-description">
							
								<div class="col-md-4">
									<h2>The Challenge</h2>
									<p> One of the biggest hackathons around, PennApps is famous all around. As first-timers, I was nervous and ready to code! My team decided to create a mobile sandbox, that allowed users to create a wireless controller over wifi for their own purposes! </p>
								</div>
								
								<div class="col-md-4">
									<h2>The Solution</h2>
									<p> We chose Android since it is a popular platform and supports java. This means we could use  Java Robot, which simulates keypresses on your computer with certain given data. Creating a server with Java, the idea is to setup a port connection between the phone and the computer first. Then, using buttons, the phone can send data over to the server.  </p>
								</div>
								
								<div class="col-md-4">
									<h2>The Result</h2>
									<p> In the end, we created a couple layouts to simulate a gameboy, tv remote, and arrow keys. Using the arrow keys layout, it was possible to play snake on the PC wirelessly. Arriving in Philadelphia for the first time, UPenn offered an unforgettable experience. <br>
										Next steps: Add better sandbox features for the UI, get the joystick function working, allow saving states. </p>
								</div>
								
							</div>
						</div>
						
					</article>
				</div>

			</div>
		</div>
	</section>

	<!-- Filler Section -->
	<section class="bg-transparent">
	</section>

	<!-- Contact -->
	<section id="contact" class="padding-bottom bg-light">
		
		<div class="container">
		
			<div class="section-header scrollimation fade-up">
				<h1 class="section-title">Contact</h1>
				
				<p class="section-description lead">Get in touch over coffee! Don't be shy. </p>
				
			</div><!--End section-header -->
			
			<div class="row">

				<form id="contact-form" class="col-sm-6 scrollimation fade-right" action="../../email" method="post" novalidate="">
					
					<h3 class="primary">Email me!</h3>
					
					<div class="form-group">
					  <label class="control-label" for="contact-name">Name</label>
					  <div class="controls">
						<input id="contact-name" name="contactName" placeholder="Your name" class="form-control input-lg requiredField" type="text" data-error-empty="Please enter your name">
						<i class="fa fa-user" style="margin-top:8px;"></i>
					  </div>
					</div>
					
					<div class="form-group">
					  <label class="control-label" for="contact-mail">Email</label>
					  <div class="controls">
						<input id="contact-mail" name="email" placeholder="Your email" class="form-control input-lg requiredField" type="email" data-error-empty="Please enter your email" data-error-invalid="Invalid email address">
						<i class="fa fa-envelope" style="margin-top:8px;"></i>
					  </div>
					</div>
					
					<div class="form-group">
					  <label class="control-label" for="contact-message">Message</label>
						<div class="controls">
							<textarea id="contact-message" name="comments" placeholder="Your message" class="form-control input-lg requiredField" rows="4" data-error-empty="Please enter your message"></textarea>
							<i class="fa fa-comment" style="margin-top:12px;"></i>
						</div>
					</div>

					<p><button name="submit" type="submit" class="btn btn-theme btn-block" data-error-message="Error!" data-sending-message="Sending..." data-ok-message="Message Sent"><i class="fa fa-location-arrow"></i>Send Message</button></p>
					<input type="hidden" name="submitted" id="submitted" value="true">
					
				</form> 
			
				<div class="col-sm-5 col-sm-offset-1 contact-info">
					
					<div class="scrollimation scale-in">
					<h3 class="primary">Find Me</h3>
						<ul class="address">
							<li><span><i class="fa fa-map-marker fa-fw fa-lg"></i></span>81 Columbia Street West<br>
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Waterloo, ON (Ontario), Canada N2L 3K7</li>
							<li><span><i class="fa fa-phone fa-fw fa-lg"></i></span>(289) 489 - 3743</li>
							<li><span><i class="fa fa-envelope fa-fw fa-lg"></i></span><a href="mailto:cwpeng@uwaterloo.ca">cwpeng@uwaterloo.ca</a></li>
						</ul>
					</div>
					
					
				</div><!-- End contact-info -->
			  
			</div><!-- End row -->
			
		</div><!-- End container -->
		
	</section>

	<!-- FOOTER -->
		<section id="social-links" class="bg-transparent">
			
			<div class="container">
				<ul>
					<li class="scrollimation fade-up in">
						<a href="https://twitter.com/cwpeng123" class="icon" target="_blank"><i class="fa fa-twitter"></i></a>
						<h4>Follow me on Twitter</h4>
					</li>
					<li class="scrollimation fade-up d1 in">
						<a href="https://www.facebook.com/cheng.w.peng" class="icon" target="_blank"><i class="fa fa-facebook"></i></a>
						<h4>Like me on Facebook</h4>
					</li>
					<li class="scrollimation fade-up d2 in">
						<a href="https://www.linkedin.com/pub/cheng-peng/47/125/82" class="icon" target="_blank"><i class="fa fa-linkedin"></i></a>
						<h4>Find me on Linkedin</h4>
					</li>
					<li class="scrollimation fade-up d3 in">
						<a href="https://github.com/chunky123" class="icon" target="_blank"><i class="fa fa-github"></i></a>
						<h4>Follow me on Github</h4>
					</li>
				</ul>
					
			</div>
			
		</section>

	<!-- Sources JS (Located here to improve performance) -->
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script src="js/bootstrap/bootstrap.min.js"></script>
	<script src="js/modernizr.js"></script>
	<script src="js/jquery.flexslider.min.js"></script>
	<script src="js/main.js"></script>
	<script src="js/jquery.backstretch.min.js"></script>
	<script src="js/jquery.scrollTo.min.js"></script>
	<script src="js/waypoints.min.js"></script>
	<script src="js/jquery.masonry.min.js"></script>
	<script src="js/jquery.fitvids.js"></script>
	<script src="js/contact.js"></script>

</body>

</html>